<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Guia de Estudos</h1>
    </header>
    <div class="menu">
        <ul>
            <a href="python/python.html"><li>Python</li></a>
            <a><li>HTML</li></a>
            <a><li>CSS</li></a>
            <a><li>Git & GitHub</li></a>
            <a><li>JavaScript</li></a>
        </ul>
    </div>
    <main>
        
        <section>
            <h2>Introdução</h2>
            <P>Começa aqui um guia para quem está começando a estudar TI (Tecnologia da Informação), dano inicio 
                com Python explicando a origem e tudo o que pode acresentar em uma carreira de DEV (desemvolvedor),
            </P>

        </section>

    </main>
    <footer>

    </footer>
    
</body>
</html>